/*=======google font======*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*=======default css==========*/
body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    padding: 20px 24px;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}

main {
    max-width: 1440px;
    margin: 50px auto;
}




/*=======Header section=======*/
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--Dark-01, #131313);
}

nav ul {
    list-style: none;
    display: flex;
    font-weight: 700;
    line-height: normal;

}

nav ul li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

nav li {
    margin-right: 30px;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

/*===banner styles===*/
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}



.banner-img img {
    width: 100%;
    margin: 20px 0;
}

.banner-description {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/*===== teams section start from here =====*/

.teams-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}
.teams-img-container img{
    width: 100%;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-content h3 {

    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;

}

.teams-container h3 :first-child {
    color: var(--Dark-03, #727272);
}

.teams-container h3 :last-child {
    color: #FF900E;
}

.teams-container p {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/* .teams-img-container img{
    width: 100%;
} */

/*=========*/

/*======responsive css======*/

/*===== Small screen =====*/

@media screen and (max-width: 576px) {

    /*----- responsive header start from here----*/
    header {
        padding: 10px;
    }

    nav {
        flex-direction: column;

    }

    nav ul {
        margin: 0 auto;
    }

    nav h3 {
        font-size: 2rem;
    }

    .banner-title {
        font-size: 3rem;
    }

    .btn-primary {
        padding: 10px 12px;
        border-radius: 6px;
        background: #FF900E;
        color: white;
        border: none;
        font-weight: 600;
        font-size: 1.25rem;
        cursor: pointer;
    }

    /*---- teams responsive css ----*/
    .teams-container{
        flex-direction: column;
        padding: 0 10px ;
        align-items: center;
     
    }
    .teams-content h3{
        font-size: 2rem;
        text-align: center;
    }
    .teams-content p{
        text-align: center;
    }
    .teams-buttom{
        text-align: center;
    }
    .teams-img-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    
    }
    
}

@media screen and (min-width: 575px) and (max-width:960px) {

    /*------responsive header css-------*/
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .btn-primary {
        padding: 10px 12px;
        border-radius: 6px;
        background: #FF900E;
        color: white;
        border: none;
        font-weight: 600;
        font-size: 1.25rem;
        cursor: pointer;
        
    }
    /*---- teams responsive css ----*/
    .teams-container{
        flex-direction: column;
        padding: 0 10px ;
    }
    .teams-content h3{
        font-size: 2rem;
        text-align: center;
    }
    .btn-primary {
        padding: 10px 12px;
        border-radius: 6px;
        background: #FF900E;
        color: white;
        border: none;
        font-weight: 600;
        font-size: 1.25rem;
        cursor: pointer;
        
    }
    .teams-buttom{
        text-align: center;
    }
    

}