/*=======google font======*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*=======default css==========*/
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    padding: 20px 24px;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}

main {
    max-width: 1440px;
    margin: 50px auto;
}

.third-header {
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
}

.description {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}




/*=======Header section=======*/
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--Dark-01, #131313);
}

nav ul {
    list-style: none;
    display: flex;
    font-weight: 700;
    line-height: normal;

}

nav ul li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

nav li {
    margin-right: 30px;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

/*===banner styles===*/
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}



.banner-img img {
    width: 100%;
    margin: 20px 0;
}

.banner-description {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/*===== teams section start from here =====*/

.teams-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.teams-img-container img {
    width: 100%;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-content h3 {

    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;

}

.teams-container h3 :first-child {
    color: var(--Dark-03, #727272);
}

.teams-container h3 :last-child {
    color: #FF900E;
}

.teams-container p {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/*=========feature section start from here=========*/

.features {
    display: flex;
    margin-top: 100px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features .feature-content .description{
    margin: 24px 0;
}
.feature-content{
    margin-right: 80px;
}

.feature-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 342px;
}
.ten-years-badge h2{
    font-size: 3rem;
}
.ten-years-content{
    padding: 40px;
    text-align: center;
}
.ten-years-content p{
    font-size: 1.5rem;
}
.feature-img{
    position: relative;
}
.feature-img img{
    height: 90%;
}
.ten-years-badge{
    position: absolute;
    bottom: 50px;
    left: -45px;
}

/*=====facts section start from here=====*/
.facts {
    margin: 80px 0;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 35px;
}

.facts-card-container .card .card-stats {
    font-size: 2.8rem;
    color: var(--Dark-02, #424242);
    margin: 10px 0;

}

.facts-card-container .card .card-title {
    color: var(--Dark-03, #727272);
    font-size: 1.25rem;
    font-weight: 600;

}

.facts>h3 {
    margin-bottom: 24px;
}

/*====== sponsored sections start from here =====*/
.sponsored-section {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}




/*=========*/

/*======responsive css======*/

/*===== Small screen =====*/

@media screen and (max-width: 576px) {

    /*----- responsive header start from here----*/
    header {
        padding: 10px;
    }

    nav {
        flex-direction: column;

    }

    nav ul {
        margin: 0 auto;
    }

    nav h3 {
        font-size: 2rem;
    }

    .banner-title {
        font-size: 3rem;
    }

    .btn-primary {
        padding: 10px 12px;
        border-radius: 6px;
        background: #FF900E;
        color: white;
        border: none;
        font-weight: 600;
        font-size: 1.25rem;
        cursor: pointer;
    }

    /*---- teams responsive css ----*/
    .teams-container {
        flex-direction: column;
        padding: 0 10px;
        align-items: center;

    }

    .teams-content h3 {
        font-size: 2rem;
        text-align: center;
    }

    .teams-content p {
        text-align: center;
    }

    .teams-buttom {
        text-align: center;
    }

    .teams-img-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;

    }

    /*======facts responsive start from here====*/
    .facts-card-container {
        flex-direction: column;
        padding: 0 30px;
        gap: 20px;
    }

    .facts .facts-content {
        text-align: center;
    }

    /*===Our sponspors====*/
    .sponsors-img-container {
        flex-direction: column;
        gap: 50px;
        align-items: center;

    }

    .sponsors-img-container img {
        width: 165px;
    }
    
    /*====feature responsive===*/
    .features{
        flex-direction: column;
    }
    .feature-content{
        margin-right: 0;
    }
    .feature-img img{
        height: auto;
        width: 100%;
    }
    .ten-years-badge{
        width: 240px;
    }
    .ten-years-badge h2{
        font-size: 2rem;
    }
    .ten-years-badge p{
        font-size: 1rem;
    }
    .ten-years-badge{
        bottom: -10%;
        left:100px;
    }


}

@media screen and (min-width: 575px) and (max-width:960px) {

    /*------responsive header css-------*/
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .btn-primary {
        padding: 10px 12px;
        border-radius: 6px;
        background: #FF900E;
        color: white;
        border: none;
        font-weight: 600;
        font-size: 1.25rem;
        cursor: pointer;

    }

    /*---- teams responsive css ----*/
    .teams-container {
        flex-direction: column;
        padding: 0 10px;
    }

    .teams-content h3 {
        font-size: 2rem;
        text-align: center;
    }

    .btn-primary {
        padding: 10px 12px;
        border-radius: 6px;
        background: #FF900E;
        color: white;
        border: none;
        font-weight: 600;
        font-size: 1.25rem;
        cursor: pointer;

    }

    .teams-buttom {
        text-align: center;
    }

    /*===== features you will love & enjoy =====*/



    /*======facts responsive start from here====*/
    .facts-card-container {
        flex-direction: column;
        padding: 0 50px;
        gap: 20px;

    }

    .facts .facts-content {
        text-align: center;
    }

    /*===Our sponspors====*/
    .sponsors-img-container {
        flex-direction: column;
        gap: 50px;

    }

    .sponsors-img-container img {
        width: 165px;
        margin: 0 auto;
    }

      /*====feature responsive===*/
      .features{
        flex-direction: column;
    }
    .feature-content{
        margin-right: 0;
    }
    .feature-img img{
        height: auto;
        width: 100%;
    }
    .ten-years-badge{
        width: 240px;
    }
    .ten-years-badge h2{
        font-size: 2rem;
    }
    .ten-years-badge p{
        font-size: 1rem;
    }
    .ten-years-badge{
        bottom: -5%;
        left: 40%;
    }


}